<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/calculo-servlet.css">
		<title>Cálculo</title>
	</head>
	<body>
		<section class="calculo-servlet">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="calculo-servlet__content">
							<h1>Cálculo Servlet</h1>
							<a class="btn btn-primary btn-voltar" href="/" role="button">Voltar</a>
							<form action="#" th:action="@{/servlet/calculo}" th:object="${informacoesCalculoDTO}" method="post">
								<div class="form-group">
									<label for="distanciaPavimentada">Distância em rodovia pavimentada:</label>
	   							<input class="form-control" type="number" id="distanciaPavimentada" placeholder="Km" aria-describedby="distanciaPavimentadaHelper" th:field="*{distanciaPavimentada}" min="0">
									<small id="distanciaPavimentadaHelper" class="form-text text-muted" th:if="${#fields.hasErrors('distanciaPavimentada')}" th:errors="*{distanciaPavimentada}">Distancia em rodovia pavimentada Error</small>						
								</div>
								<div class="form-group">
									<label for="distanciaNaoPavimentada">Distância em rodovia nao-pavimentada:</label>
									<input class="form-control" type="number" id="distanciaNaoPavimentada" placeholder="Km" aria-describedby="distanciaNaoPavimentadaHelper" th:field="*{distanciaNaoPavimentada}" min="0" />
									<small id="distanciaNaoPavimentadaHelper" class="form-text text-muted" th:if="${#fields.hasErrors('distanciaNaoPavimentada')}" th:errors="*{distanciaNaoPavimentada}">Distancia em rodovia nao-pavimentada Error</small>
								</div>
								<div class="form-group">
									<label for="veiculos">Veiculo utilizado:</label>
									<select id="veiculos" class="form-control" th:field="*{idVeiculoUtilizado}">
										<option th:each="veiculo : ${veiculos}" th:value="${veiculo.id}" th:text="${veiculo.descricao}" />
									</select>
								</div>
								<div class="form-group">
									<label for="cargaTransportada">Carga transportada:</label>
									<input class="form-control" type="number" id="cargaTransportada" placeholder="Toneladas" th:field="*{cargaTransportada}" min="0" />
								</div>
								<button type="submit" class="btn btn-primary">Calcular</button>
							</form>
							<hr/>
							<div class="calculo-servlet__resultado">
								<h2>Resultado:</h2>
								<p>R$ <span th:text="${#numbers.formatDecimal(informacoesCalculoDTO.resultado, 0, 'POINT', 2, 'COMMA')}"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>