.avaliacao .row {
	height: 100vh;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	-webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.avaliacao .col {
	text-align: center;
}

.avaliacao h1 {
	padding: 0 0 30px 0;
}

.avaliacao .btn {
	display: block;
	max-width: 300px;
	margin: 10px auto;
}