.calculo-rest__content {
	padding: 15% 0;
}

.calculo-rest .btn-voltar {
	margin: 0 0 20px 0;
}

.calculo-rest form {
	margin: 0 0 30px 0;
}

.calculo-rest label {
	line-height: 16px;
}
   
.calculo-rest__resultado p {
	font-weight: 700;
}