.calculo-servlet__content {
	padding: 15% 0;
}

.calculo-servlet .btn-voltar {
	margin: 0 0 20px 0;
}

.calculo-servlet form {
	margin: 0 0 30px 0;
}

.calculo-servlet label {
	line-height: 16px;
}

.calculo-servlet__resultado p {
	font-weight: 700;
}